@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

:root{
    --dark: #232c33;
    --dark-2: #1a1f27;
    --text-color: #a5a9ac;
    --secondary-color: #c48af9;
    --blue-berry: #2d3b41;
    --sea: #1da5ff;
    
}

*{
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: var(--dark);
}


.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media (max-height: 600px) {
    .container{
        padding: 40px 0;
        height: 100%;
        width: 100%;
    }
}

.container  .form-container{
    height: 500px;
    min-height: 450px;
    width: 350px;
    min-width: 300px;
    background-image: linear-gradient(var(--dark-2), var(--blue-berry));
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}


.container  .form-container::before{
    content:"";
    background: var(--dark);
    opacity: 20%;
    border-radius: 10px;
    position: absolute;
    height: 110%;
    width: 110%;
    z-index: -1;
   transform: translate(-5%, -5%);
}


.container  .form-container .user-form,
.container  .form-container .password-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.container  .form-container .password-form i,
.container  .form-container .user-form i{
    margin-right: 20px;
    display: flex;
    font-size: 100%;
}

.container  .form-container .icon-container{
    font-size: 20px;
}

.container  .form-container .input-form{
    height: 15%;
    width: 100%;
    margin-bottom: 7px;
}

.container .form-container .input-form .user-form input,
.container .form-container .input-form .password-form input{
    border: none;
    border-bottom: 1px solid #a5a9ac;
    background-color: transparent;
    color: var(--dirty-white-2);
    outline: none;
}

.container .form-container .login-submit{
    margin-left: 109px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.container  .form-container .logo-container{
    display: flex;
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.container .form-container .logo-container i.icon{
    display: flex;
    font-size: 200px;
}

.gradient{
    background: -webkit-linear-gradient(var(--secondary-color), var(--sea));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.container .form-container .login-footer{
    position: absolute;
    bottom: 0;
}


.color-based{
    display: flex;
    height: 100px;
    width: 350px;
    background-color: red;
    background-image: linear-gradient(to right, var(--secondary-color), var(--sea));
}

/* input style for auto fill not white */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: var(--text-color) !important;
}

.error-container{
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.error-container .error{
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
    color: #eb4836;
}


/* resuable */
.main .header-title{
    height: 8vh;
    width: 100%;
    padding: 0 20px;
}

.flex{
    display: flex;
}

.flex-end{
    justify-content: flex-end;
}

.flex-align-center{
    align-items: center;
}

.flex-justify-between{
    justify-content: space-between;
}   

.flex-space-around{
    justify-content: space-around;
}

.main .header-title .header-container{
    width: fit-content;
}

.dark-light{
    color: #888a8c;
}

.flex-direction-column{
    flex-direction: column;
}

.brand{
    font-size: 1.2rem;
}

.bg-dark{
    background-color: #303030;
}

.dirty-white2{
    color: var(--dirty-white-2);
}

.dirty-white{
    color: var(--dirty-white);
}

.light-pink{
    color: #fac1d9;
}

.light-blue{
    color: #c9caee;
}

.light-green{
    color: #c2e9de;
}

.grass{
    color: green;
    
}

.danger{
    color: crimson;
    
}

.bg-light-pink{
    background-color: #fac1d9;
}

.bolder{
    font-weight: bolder;
}


.mb-50{
    margin-bottom: 50px;
}

.small-font{
    font-size: 0.8rem;
}

.big{
    font-size: 8rem;
    font-weight: bolder;
    margin-right: 20px;
}

table, th, tr, td{
    border-collapse: collapse;
}

th,tr, td{
    padding: 2px 20px;
}

tr{
    position:relative;
}

td{
    color: #888a8c;
}



tbody tr:nth-child(odd){
    background-color: #2d2d2d;
  }

table{
    table-layout: fixed;
  }
  tbody{
        display: block;
      overflow: auto;
  }

.scrollit{
    height: 500px;
    overflow-y: scroll;
}

.table-container .styled-table tr th{
    color: black;
    font-weight: bolder;
    text-align: left;
}


.error{
    color: #c51244;
    line-height: 20px;
    padding-top: 8px;
}

.table-container .wrapper{
    width: fit-content;
}

